/.env
/.continue
/.python-version
chroma_db/
/.idea
__pycache__/
/.venv
/.vscode
.coverage
.DS_Store
.agent
app/resource/audio.wav
app/services/audio_to_text.py
app/services/weather_agent_old.py
app/services/youtube_downloader.py
